{% extends "staff/staff_home.html" %} {% block title %}Customer Profile{%
endblock %} {% block content %}
<section class="profile_container">
  <form
    action="{{url_for('staff.staff_customer_profile')}}"
    method="POST"
    class="profile"
  >
    {% if edited %}
    <h2 class="heading-tertiary">Customer's profile has been updated!</h2>

    {% endif %}
    <h1 class="paragraph-secondary">Customer Profile:</h1>
    <table class="primary_table table-bordered table-hover">
      <tbody>
        {% for a in dbOutput %}
        <input type="hidden" name="user_id" value="{{a[0]}}" />
        <input type="hidden" name="customer_fname_old" value="{{a[1]}}" />
        <input type="hidden" name="customer_lname_old" value="{{a[2]}}" />
        <input type="hidden" name="email_old" value="{{a[3]}}" />
        <input type="hidden" name="phone_old" value="{{a[4]}}" />
        <tr>
          <td>First Name</td>
          <td>
            <input
              name="customer_fname"
              value="{{customer_fname}}"
              placeholder="{{a[1]}}"
            />
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input
              name="customer_lname"
              value="{{customer_lname}}"
              placeholder="{{a[2]}}"
            />
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <input name="email" value="{{email}}" placeholder="{{a[3]}}" />
          </td>
        </tr>
        <tr>
          <td>Phone number</td>
          <td>
            <input name="phone" value="{{phone}}" placeholder="{{a[4]}}" />
          </td>
        </tr>
      </tbody>
    </table>

    <button
      type="submit"
      class="u-center-text btn btn--green u-margin-bottom-small"
    >
      EDIT
    </button>
    <div>
      <a href="/staff/customer/" class="u-center-text btn btn--green"
        >Back to Customers</a
      >
    </div>

    {% endfor %}
  </form>
</section>
{% endblock %}
