/* Hide radio buttons */
input[type="radio"] {
  display: none;
}

/* Style the slider container */
.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  overflow: hidden;
}

/* Style the slides container */
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Style each individual slide */
.slide {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Style slide images */

/* Style the navigation labels */
.slider-nav {
  text-align: center;
  margin-top: 10px;
}

/* Style the navigation labels (dots) */
.slider-nav label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

/* Style the navigation labels for selected slide */
input[type="radio"]:checked + .slider-nav label {
  background: #333;
}

/* Slide transition animations */
input[type="radio"]#slide1:checked ~ .slides {
  transform: translateX(0%);
}

input[type="radio"]#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

input[type="radio"]#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

//for story kind of class tag
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 12rem;
    height: 12rem;
    float: left;
    transform: translateX(-2rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    display: block;
    height: 100%;
    object-fit: cover;
    transform: translateX(-3rem) translateY(1.2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
